html{
    background-image: url("../img/homepage.png");
    overflow: hidden;

    

}

body{
    font-family: "Futura-CondensedExtraBold", "华文黑体", STHeit, sans-serif;
    color: #f3d597;
    text-align: center;
    padding-top: 16%;
    padding-bottom: 15%;
    font-size: 120px;
     
    
}

a{  
   text-decoration: none;
   color: #f6f3e5;
   
}