*{
   color: black;
   font-size: 24px;
   line-height: 26px;
   font-family: "Futura", sans-serif;
   margin-left:10px;
   font-weight: normal;
   outline: none;

}


.accordion-resizer {
height: 50px;
overflow-y: scroll;
}
 

h1{

   font-weight: bold;
   font-size: 24px;
   font-family: "Futura", sans-serif;
}

#title {
   z-index: -1;
   position: absolute;
   
   margin-top:1%;
}

#title:hover{
    position: absolute;
    z-index: 2;
}

a{
    text-decoration: none;
    color: #fff;
    line-height:30px;
}

#accordion .ui-accordion-header:first-of-type {
    background-color: #fec124;
    margin-right: 40%;
   
}

#accordion .ui-accordion-content:first-of-type {
    background-color: #fec124;
    margin-right: 40%;
    padding: 0 3% 0 0;
    
}

#accordion .ui-accordion-header:nth-of-type(2) {
    background-color: #e74925;
    margin-right: 50%;

}

#accordion .ui-accordion-content:nth-of-type(2) {
    background-color: #e74925;
    margin-right: 50%;
    padding: 0 3% 0 2%;
}

#accordion .ui-accordion-header:nth-of-type(3) {
    background-color: #f48a95;
    margin-right: 30%;

}

#accordion .ui-accordion-content:nth-of-type(3) {
    background-color: #f48a95;
    margin-right: 30%;
    padding: 0 3% 0 2%;
}

#accordion .ui-accordion-header:nth-of-type(4) {
    background-color: #168e8f;
    margin-right: 10%;
   
}

#accordion .ui-accordion-content:nth-of-type(4) {
    background-color: #168e8f;
    margin-right: 10%;
    padding: 0 3% 0 2%;
}

#accordion .ui-accordion-header:nth-of-type(5) {
    background-color: #636464;
    margin-right: 20%;

}

#accordion .ui-accordion-content:nth-of-type(5) {
    background-color: #636464;
    margin-right: 20%;
    padding: 0 3% 0 0;
}

#accordion .ui-accordion-header:last-of-type {
    background-color: #8d70b2;
    margin-right: 40%;

}

#accordion .ui-accordion-content:last-of-type {
    background-color: #8d70b2;
    margin-right: 40%;
    padding: 0 3% 0 0;
}

.hidden_content{
    display: inline-block;
}


p{
    position: absolute;
    text-align: right;
    margin-left: 85%;
    margin-top: 35%;
    font-weight: bold;
    
}